# Папки и файлы, создаваемые средой разработки Visual Studio
.vs/
*.vscode/
*/bin/
*/obj/
*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc
*/_ReSharper*/
*.resharper
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.build/
UpgradeLog*.htm
UpgradeLog*.xml
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.xap
*.xsn
*.deploy
*.cache
*.deploy*
*.sqlce
*.docstates
*.userprefs
*.site
*.scc
*_vti_cnf/
[Oo]bj/
[Bb]in/
[Nn]ode_modules/
[Ll]ibrary/
[Tt]emp/
[Vv]ideo[s]/
[Aa]ssets/